<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>

        <!-- Email apps -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>

        <!-- Browsers (for GitHub link) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaDemo"
        tools:targetApi="31">
        <activity
            android:name=".PhotoDuelActivity"
            android:exported="true" >
<!--            <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->

<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
        </activity>
        <activity
            android:name=".fullscreenmediaActivity"
            android:exported="true" />
        <activity
            android:name=".Instademo"
            android:exported="true" />
        <activity
            android:name=".Aboutus"
            android:exported="false" />
        <activity
            android:name=".post.add_post"
            android:exported="false" />
        <activity
            android:name=".post.add_reels"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/home_activity_label" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".signIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
    </application>

</manifest>